.bar-parent
{
    display: inline-block;
    border: 2px solid #000;
    min-width: 21em;
    height: 1em;
    border-radius: 4px;
}

.bar-loader
{
    position: relative;
    display: inline-block;
    width: 0%;
    height: 100%;
    transition: width 0.2s;
    background-color: #000;
}